// Top Bar
#top-bar {
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    background: $white;
    box-shadow: rgba(0, 0, 0, 0.05%) 0px 5px 20px 0px;
    z-index: 1024;
    .container {
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include animate-fade;
        position: relative;
        @include breakpoint(laptop) {
            height: 120px;
        }
        @include breakpoint(tablet) {
            height: 100px;
        }
        @include breakpoint(mobile-all) {
            height: 80px;
        }
        // branding
        .top-bar--branding {
            img {
                height: 100px;
                @include animate-fade;
                @include breakpoint(laptop) {
                    height: 80px;
                }
                @include breakpoint(tablet) {
                    height: 60px;
                }
                @include breakpoint(mobile-all) {
                    height: 60px;
                }
            }
        }
        // nav
        .top-bar--nav {
            display: flex;
            align-items: center;
            ul {
                display: flex;
                li {
                    display: inline-block;
                    &.current_page_item {
                        a {
                            color:$color-purple!important;
                        }
                    }
                    a {
                        text-transform: uppercase;
                        font-size: 16px;
                        color:$color-link;
                        padding-left: 15px;
                        padding-right: 15px;
                        font-family: $font-semi;
                        height: 62px;
                        line-height: 62px;
                        display: inline-block;
                        @include breakpoint(desktop) {
                            padding-left: 12px;
                            padding-right: 12px;
                            font-size: 14px;
                        }
                        @include breakpoint(laptop) {
                            font-size: 14px;
                            padding-left: 8px;
                            padding-right: 8px;
                        }
                        @include breakpoint(tablet) {
                            display: none;
                        }
                        @include breakpoint(mobile-all) {
                            display: none;
                        }
                        &:hover {
                            color:$color-purple-light;
                        }
                    }
                    &:last-child {
                        margin-left: 15px;
                        a {
                            background: $color-purple-dark;
                            color:$white!important;
                            text-transform: none;
                            padding-left: 30px;
                            padding-right: 40px;
                            @include breakpoint(desktop) {
                                padding-left: 25px;
                                padding-right: 35px;
                            }
                            @include breakpoint(laptop) {
                                padding-left: 12px;
                                padding-right: 12px;
                            }
                            &:before {
                                content:url('../img/ico/calendar-alt-light.svg');
                                display: inline-block;
                                width: 18px;
                                position: relative;
                                top:4px;
                                margin-right: 15px;
                                filter: brightness(0) invert(1);
                                @include animate-fade;
                                @include breakpoint(laptop) {
                                    display: none;
                                }
                            }
                            &:hover {
                                background: $color-brown;
                                &:before {
                                    content:url('../img/ico/calendar-plus-light.svg');
                                }
                            }
                        }
                    }
                }
            }
            .btn-tel {
                margin-left: 10px;
                display: inline-block;
                background: $color-purple;
                color:$white!important;
                text-transform: none;
                padding-left: 40px;
                padding-right: 40px;
                height: 62px;
                line-height: 62px;
                font-size: 16px;
                font-family: $font-semi;
                @include breakpoint(desktop) {
                    padding-left: 30px;
                    padding-right: 30px;
                    font-size: 14px;
                }
                @include breakpoint(laptop) {
                    padding-left: 15px;
                    padding-right: 15px;
                    font-size: 14px;
                }
                @include breakpoint(tablet) {
                    margin-right: 130px;
                    height: 58px;
                    line-height: 58px;
                }
                @include breakpoint(mobile-all) {
                    display: none;
                }
                &:hover {
                    background: $color-brown;
                    &:before {
                    }
                }
            }
        }
    }
    // sticky
    &.sticky {
        .container {
            height: 100px;
            @include breakpoint(tablet) {
                height: 80px;
            }
            @include breakpoint(mobile-all) {
                height: 70px;
            }
            .top-bar--branding img {
                height: 80px;
                @include breakpoint(tablet) {
                    height: 60px;
                }
                @include breakpoint(mobile-all) {
                    height: 50px;
                }
            }
        }
    }
}

#mobile-cta {
    @include centre(y);
    right:70px;
    display: none;
    @include breakpoint(tablet) {
        display: block;
    }
    @include breakpoint(mobile-all) {
        display: block;
    }
    a {
        display: block;
        width: 40px;
        height: 40px;
        background: $color-purple-dark;
        position: relative;
        border-radius: 100%;
        img {
            width: 16px;
            @include centre(both);
            filter: brightness(0) invert(1);
        }
    }
}

#mobile-menu--btn {
    @include centre(y);
    width: 55px;
    right: 15px;
    display: none;
    z-index:9999;
    @include breakpoint(laptop) {
        display: none;
        right:0px;
    }
    @include breakpoint(tablet) {
        display: block;
    }
    @include breakpoint(mobile-all) {
        display: block;
    }
    @include breakpoint(desktop) {
        display: none!important;
    }            
    a {
        display: block;
        width: 55px;
        height: auto;
        span {
            height: 3px;
            border-radius:6px;
            background-color:$color-purple;
            width: 35px;
            display: block;
            float: right;
            @include animate-fade;
            margin-top: 3px;
            margin-bottom: 3px;
            border:none;
        }	
    }            
} 

// inenr header
#inner-header {
    position: relative;
    overflow: hidden;
    background:$color-purple;
    margin-top: 140px;
    @include breakpoint(laptop) {
        margin-top: 120px;
    }
    @include breakpoint(tablet) {
        margin-top: 100px;
    }
    @include breakpoint(mobile-all) {
        margin-top: 80px;
    }   
    .left-shape {
        position: absolute;
        left:0px;
        bottom:0px;
        opacity: 0.3;
        @include breakpoint(laptop) {
            width: 300px;
        }
        @include breakpoint(tablet) {
            width: 240px;
        }
        @include breakpoint(mobile-all) {
            width: 120px;
            opacity: 0.2;
        }
    }
    .right-shape {
        position: absolute;
        top:0px;
        right:0px;
        @include breakpoint(laptop) {
            width: 300px;
        }
        @include breakpoint(tablet) {
            width: 240px;
        }      
        @include breakpoint(mobile-all) {
            width: 150px;
            opacity: 0.3;
        }  
    }     
    // caption
    .header-caption {
        padding-top: 200px;
        padding-bottom: 200px;
        text-align: center;
        @include breakpoint(laptop) {
            padding-top: 150px;
            padding-bottom: 150px;
        }
        @include breakpoint(tablet) {
            padding-top: 120px;
            padding-bottom: 120px;
        }
        @include breakpoint(mobile-all) {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        h1, .h1 {
            color:$white;
            font-size: 62px;
            font-family: $font-heading;
            @include breakpoint(laptop) {
                font-size: 52px;
            }
            @include breakpoint(tablet) {
                font-size: 44px;
            }
            @include breakpoint(mobile-all) {
                font-size: 36px;
            }
        }      
    }
    &.header-blog {
        .header-caption {
            padding-bottom: 350px;
            @include breakpoint(laptop) {
                padding-bottom: 300px;
            }
            @include breakpoint(tablet) {
                padding-bottom: 300px;
            }
            @include breakpoint(mobile-all) {
                padding-bottom: 250px;
            }
        }
    }      
}

// About header
#about-header {
    position: relative;
    background:$color-purple;
    margin-top: 140px;
    @include breakpoint(laptop) {
        margin-top: 120px;
    }
    @include breakpoint(tablet) {
        margin-top: 100px;
    }
    @include breakpoint(mobile-all) {
        margin-top: 80px;
    }   
    .right-shape {
        position: absolute;
        top:0px;
        right:0px;
        @include breakpoint(mobile-all) {
            display: none;
        }
    }
    .header-shape {
        position: absolute;
        left:0px;
        bottom:0px;
        opacity: 0.5;
        @include breakpoint(mobile-all) {
            display: none;
        }
    }
    .header-text {
        padding-top: 150px;
        padding-bottom: 100px;
        position: relative;
        display: flex;
        justify-content: space-between;
        @include breakpoint(tablet) {
            padding-top: 100px;
        }
        @include breakpoint(mobile-all) {
            padding-top: 50px;
            display: block;
            padding-bottom: 50px;
        }
        .header-image {
            width: 50%;
            position: relative;
            z-index: 999;
            margin-top: -50px;
            @include breakpoint(tablet) {
                margin-top: -20px;
            }
            @include breakpoint(mobile-all) {
                margin-top: 0px;
                width: 100%;
            }
            img {
                width: 100%;
                display: block;
                position: absolute;
                left:0px;
                @include breakpoint(mobile-all) {
                    height: 350px;
                    position: relative;
                }
            }
        }
        .header-caption {
            width: 50%;
            padding-left: 50px;
            @include breakpoint(tablet) {
                padding-left: 30px;
            }
            @include breakpoint(mobile-all) {
                padding-left: 0px;
                width: 100%;
                padding-top: 30px;
                text-align: center;
            }
            span.title {
                @include small-title;
                color:$white;
                text-align: left;
                margin-bottom: 15px;
                @include breakpoint(mobile-all) {
                    text-align: center;
                }
            }
            h1 {
                font-size: 92px;
                color:$white;
                margin-bottom: 30px;
                @include breakpoint(laptop) {
                    font-size: 62px;
                    margin-bottom: 20px;
                }
                @include breakpoint(tablet) {
                    font-size: 42px;
                    margin-bottom: 20px;
                }
                @include breakpoint(mobile-all) {
                    font-size: 38px;
                }
            }
            p {
                font-family: $font-italic;
                color:$white;
            }
            a.btn-cta {
                @include btn-cta;
                margin-top: 35px;
            }
        }
    }  
}

// services
.header-services {
    min-height: 500px;
    margin-top: 140px;
    @include breakpoint(laptop) {
        margin-top: 120px;
    }
    @include breakpoint(tablet) {
        margin-top: 100px;
    }
    @include breakpoint(mobile-all) {
        margin-top: 80px;
    }     
    .container {
        padding-top: 150px;
        padding-bottom: 150px;
        @include breakpoint(mobile-all) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        .hero-content {
            background: rgba($white, 0.98);
            padding:80px;
            padding-top: 60px;
            padding-bottom: 60px;
            width: 800px;
            margin:0px auto;
            text-align: center;
            @include breakpoint(tablet) {
                width: 90%;
            }
            @include breakpoint(mobile-all) {
                width: 90%;
                padding:25px;
            }
            h1 {
                @include section-title;
                margin-bottom: 30px;
                @include breakpoint(tablet) {
                    margin-bottom: 25px;
                }
                @include breakpoint(mobile-all) {
                    margin-bottom: 25px;
                }
            }
            p {
                font-size: 20px;
                margin-bottom: 30px;
                @include breakpoint(tablet) {
                    font-size: 18px;
                }
                @include breakpoint(mobile-all) {
                    font-size: 17px;
                }
            }
            .btn-down {
                display: inline-block;
                width: 80px;
                height: 80px;
                background: $color-purple;
                border-radius: 100%;
                position: relative;
                @include breakpoint(tablet) {
                    width: 60px;
                    height: 60px;
                }
                @include breakpoint(mobile-all) {
                    width: 60px;
                    height: 60px;
                }
                &:hover {
                    background: $color-purple-dark;
                    img {
                        margin-top: 5px;
                    }
                }
                img {
                    @include centre(both);
                    width: 32px;
                    margin-top: 0px;
                    @include animate-fade;
                    @include breakpoint(tablet) {
                        width: 28px;
                    }
                }
            }
        }
    }
}