// 0. Path.
$assets: '../img';

// 1. Colors.
$black:#000;
$white:#fff;

// 2. Custom colors
$color-brown:#736866;
$color-purple-light:#b2bcd0;
$color-purple-dark:#654c6c;
$color-purple:#a5a3c1;

$color-heading:#2d2d2d;
$color-text:#000;
$color-link:#2b2b2b;

$color-pale:#fcf8f9;

// 2. Sizes
$base-size:16px;